
@font-face {
	font-family: 'RobotoSlab-Regular';
	src: url('../fonts/RobotoSlab-Regular.woff');
}

body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family:RobotoSlab-Regular, Arial, Helvetica, sans-serif;
  background-color: #000;
}

a{
  text-decoration: none;
  color: #21F036;
}

.header{
  width: 1000px;
  height: 62px;
  margin: 0 auto;
}

.call-me{
color: #05731D;
margin-right: 0;
word-spacing: 5px;
}
.menu{
  padding-top: 4px;
}

.container{
  width: 1000px;
  height: 62px;
  margin: 0 auto;
}

.logo{
  width: 134px;
  height: 60px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builder{
  width: 1000px;
  height: 564px;
  padding-left: 465px;

}
